@model IEnumerable<ChatApp.Data.ChatMessage>
@*TODO: make js components for the messages & add leave group button.*@
<div class="chatContainer">
    <div class="chat">
        <div class="chatHeader">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="chatBody" id="chat">
         
        </div>
        <div class="chatFooter">
            <input class="messageInput" type="text" id="messageInput" name="" />
            <input class="sendButton" type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<script type="module" src="~/js/Component.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<link rel="stylesheet" href="~/css/chat.css" />