@page
<div class="container">
    <table>
        <tr id="ChatElement">
            <td id="ChatName">test</td>
        </tr>
    </table>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatlist.js"></script>