<ul class="flex-grow-1">
    <li class="">
        <a class="text-dark" asp-area="" asp-controller="Chat" asp-action="List" itemid="home">Home</a>
    </li>
    <li class="">
        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Chat" id="home">Privacy</a>
    </li>
</ul>